@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,200;1,300&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:wght@300&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll; 
    scroll-behavior: smooth;
}
/* ---utility-sections--- */
.row{
    display: flex;
     margin-left: auto;
    margin-right: auto; 
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.grid{
    flex-wrap: wrap;
}
/* ---navbar sections------- */

.navbar input[type='checkbox'],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 4px 9px 0px #f6f6f6;
    position: fixed;
    width: 100%;
    background-color: #fffefe;
    color: #222;
    z-index: 9999;
    opacity: 0.99;
}
.navbar .container{
    max-width: 1200px;
}
.navbar-container{
    height: 70px;
    justify-content: space-between;
    align-items: center;
}
.navbar-container .menu-items{
    order: 2;
}
.logo{
    order: 1;
    margin-left: 3%;
    max-width: 80%;
}
.logo img{
    width: 150%;
    padding-left: 10%;
    color: #37019c;
}
.navbar-container ul{
    display: flex;
    margin-top: 10px;
    margin-left: 10rem;
    padding-bottom: 10px;
}
.navbar-container ul li{
    list-style: none;
    font-size: 16px;
    margin-right: 1.6rem;
    margin-left: 1%;
}
.menu-items li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    font-weight: 550;
    cursor: pointer;
    transition: all 0.78s ease;
}
.menu-items li a:hover{
    color: #824cff;
}
.btn{
    order: 3;
    margin-left: 2%;
}
.btn a{
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 580;
}
.btn{
    background-color: #081158;
    padding: 10px 28px;
    border-radius: 30px;
    border: 2px solid #737373;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    background:#f5f5f5 ;
}
.btn:hover a{
    color: #000000;
}
/* --Home-section-- */


.home-area{
    padding-top: 190px;
    padding-bottom: 100px;
}
.home-area .row{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px
}
.main-pic {
    max-width: 62.5%;
    flex: 0 0 62.5%;
    padding-left: 40px;
    padding-right: 50px;
    order: 2;
}
.main-pic img{
    width: 110%;
    position: relative;
}
.main-text{
    max-width: 42%;
    flex: 0 0 42%;
}
.main-text{
    width: 100%;
    padding-top: 40px;
    order: 1;
}
.main-text h6{
    background-color: #09167c;
    color: #ffffff;
    padding: 10px 25px;
    position: absolute;
    border-radius: 30px;
    font-weight: 700;
    text-transform: capitalize;
    
}
.main-text h1{
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
    color: #1c005fc6;
    padding-top: 50px;
    padding-bottom: 15px;
}
.main-text p{
    padding-top: 18px;
    font-size: 16px;
    font-weight: 570;
    padding-bottom: 50px;
    color: #444;
    line-height: 27px;
}
.main-text a{
    padding-right: 40px;
    text-decoration: none;
    text-transform: capitalize;
    border: 2px solid #373737;
    border-radius: 20px;
    padding: 10px 22px;
    color: #2b2b2b;
}
.main-text .primary{
    background-color: #081158;
    color: #f6f6f6;
    margin-right: 12px;
    transition: all 0.7s ease-in-out;
}
.main-text .primary:hover{
    background: transparent;
    color: #191919;
}
.main-text .secondary:hover{
    transform: scale(1.01);
    background-color: #f3f0fd;
    transition: 0.66s ease-in-out;
}

/* ---- features-area---*/
.features-area{
    padding-top: 80px;
    padding-bottom: 140px;
}
.features-1{
    text-align: center;
    padding-bottom: 90px;
    width: 100%;
}
.features-1 b{
    font-size: 13px;
    background-color: #09167c;
    padding: 2px 18px;
    border: 2px solid #000000;
    border-radius: 20px;
    color: #ffffff;
}
.features-1 h2{
    padding-top: 12px;
    padding-bottom: 17px;
    font-size: 40px;
    font-weight: bold;
}
.features-1 p{
    color: #737373;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}
.marketing-1{
    /* padding-left: 100px; */
    text-align: center;
    max-width: 33.33333%;
    flex: 0 0 auto;
    padding-left: 10px;
}
.marketing-1 i{
    position: absolute;
    font-size: 40px;
    margin-left: -1%;
}
.marketing-1 h2{
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.marketing-1 p{
    font-weight: normal;
    color: #919191;
    line-height: 25px;
}
.market{
    padding-right: 30px;
}
.bazar{
    padding-right: 30px;
}
.uss{
    padding-right: 30px;
}

/* ------About-Area------ */
.about-area{
    padding-top: 120px;
    padding-bottom: 120px;
}
.about-area .container{
    max-width: 1230px ;
}
.about-pic{
    max-width: 65.8888%;
    flex: 0 0 65.8888%;
}
.about-pic img{
    width: 100%;
    padding-right: 100px;
}
.about-text{
    max-width: 50%;
    flex: 0 0 50%;
    padding-right: 60px;
}
.about-text b{
    text-align: center;
    background-color: #37019c;
    color: #fffefe;
    font-size: 13px;
    padding: 5px 20px;
    border-radius: 7px;
    margin-left: 0.5rem;
    font-weight: bold;
}
.about-text h2{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    color: #081158;
}
.text-p{
    color: #373737;
    font-size: 17px;
    line-height: 25px;
}
.text-pp{
    color: #484848;
    font-size: 17px;
    padding-bottom: 20px;
    line-height: 24px;
}
.about-text ul{
     font-size: 16px;
     padding-bottom: 35px;
}
.about-area ul li{
    padding: 8px;
    color: #3e3e3e;
}
.about-text a{
    text-decoration: none;
    text-transform: capitalize;
    color: #f6f6f6;
    background-color: #09167c;
    font-size: 18px;
    padding: 11px 35px;
    cursor: pointer;
    border-radius: 30px;
    outline: none;
    border: 2px solid #3e3e3e;
    transition: 0.6s ease-in-out;
}
.about-text a:hover{
    background: transparent;
    color: #222;
}


/* ---services-container---st-end--- */
.services-area{
    padding-top: 100px;
    padding-bottom: 90px;
}
.services-area .container{
    width: 80%;
}
.services-heading{
    text-align: center;
    padding-bottom: 45px;
}
.services-heading b{
    background-color: goldenrod;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 18px;
    border-radius: 20px;
}
.services-heading h1{
    font-size: 43px;
    color: #081158;
    padding-top: 16px;
}
.services-container-1{
    margin-left: 20%;
    padding-right: 2%;
    padding: 10px;
}
.services-container-1 h3{
    color: #081158;
    font-size: 28px;
    padding-bottom: 10px;
}
.services-thing-1{
     margin-right: 150px; 
     padding-bottom: 26px;
     border: 2px solid #444;
     padding: 30px;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.services-container-2{
    margin-left: 20%;
    padding-right: 2%;
    padding: 10px;
}
.services-container-2 h3{
    color: #081158;
    font-size: 28px;
    padding-bottom: 10px;
}
.services-thing-2{
    margin-right: 150px;
    padding-bottom: 26px;
    border: 2px solid #444;
    padding: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}


.services-container-3{
    margin-left: 20%;
    padding-right: 2%;
    padding: 10px;
}
.services-container-3 h3{
    color: #081158;
    font-size: 28px;
    padding-bottom: 10px;
}
.services-thing-3{
    margin-right: 150px;
    padding-bottom: 26px;
    border: 2px solid #3d3d3d;
    padding: 30px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.services-container h3{
     font-weight: normal;
     padding-left: 20px;
}
.services-container  p{
    color: #2b2b2b;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.services-container .icon-s{
    flex-basis: 80px;
    font-size: 32px;
    position: relative;
}
.services-container .icon-s{
    position: absolute;
    margin-left: -1.8%;
    margin-top: -2%;
}

/* ----testimonial-section----st to end---- */
.testimonial-area{
    padding-top: 110px;
    padding-bottom: 120px;
    background-color: #eeeeee;
}
.testimonial-text{
    padding-left: 20%;
    max-width: 90%;
    flex: 0 0 90%;
    text-align: center;
    padding-bottom: 4.5rem;
}
.testimonial-text b{
    background-color: #e1c52a;
    color: #fffefe;
    font-size: 13px;
    font-weight: bold;
    padding: 6px 17px;
    border-radius: 10px;
}
.testimonial-text h1{
    padding-top: 0.8rem;
    font-size: 43px;
    color: #081158;
    padding-bottom: 1rem;
}
.testimonial-text p{
    color: #3e3e3e;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 1.1rem;
}
.testimonial-1{
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    height: 38vh;
    width: 80vw;
    box-shadow: 2px 2px 2px 1px #484848;
}
.testimonial-1 p{
    color: #373737;
    line-height: 28px;
    font-size: 16px;
    padding-top: 20px;
}
.testimonial-1 img{
    border-radius: 50%;
    width:  50px;
}
.testimonial-pic{
    margin-top: 2rem;
}
.testimonial-1 .test{
    margin-top: -0.5rem;
    padding-left: 4px;
}



.testimonial-2{
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    height: 38vh;
    width: 80vw;
    margin-left: 20px;
    box-shadow: 2px 2px 2px 1px #484848;
}
.testimonial-2 p{
    color: #373737;
    line-height: 28px;
    font-size: 16px;
    padding-top: 20px;
}
.testimonial-2 img{
    border-radius: 50%;
    width: 50px;
}
.testimonial-pic{
    margin-top: 2rem;
}
.testimonial-2 .test{
    margin-top: -0.5rem;
    padding-left: 4px;
}




.testimonial-3{
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    height: 38vh;
    width: 80vw;
    margin-left: 20px;
    box-shadow: 2px 2px 2px 1px #484848;
}
.testimonial-3 p{
    color: #373737;
    line-height: 28px;
    font-size: 16px;
    padding-top: 20px;
}
.testimonial-3 img{
    border-radius: 50%;
    width: 50px;
}
.testimonial-pic{
    margin-top: 2rem;
}
.testimonial-3 .test{
    margin-top: -0.5rem;
    padding-left: 4px;
}

/* ------footer-section----- */

.footer-area{
    padding-top: 110px;
    padding-bottom: 130px;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 2rem;
}
.first-info{
    padding: 20px;
}
.footer-area h4{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.footer-area p{
    font-size: 17px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    padding-bottom: 20px;
    transition: all 0.8s ease;
}
.msg i{
    padding-right: 7px;
    padding-top: 5px;
    font-size: 15px;
}
.phone i{
    padding-right: 7px;
    padding-top: 5px;
    font-size: 15px;
}
.location i{
    padding-right: 7px;
    padding-top: 5px;
    font-size: 15px;
}
.social-icon i{
    font-size: 30px;
    padding: 0 2px;
    cursor: pointer;
    transition: all 0.8s ease-out;
}
.social-icon i:hover{
    color: #0e39c8;
}
.last{
    padding-left: 20%;
    padding-top: 7%;
    color: #191919;
    font-size: 18px;
    font-weight: bold;
}

/* ----media-queries---- */
/* -0----media-queries--- */
/* --media queries------- */
/* ----media-queries------------------------------- */

@media (max-width: 1268px){
    .navbar-container .btn{
    display: none;
    }
}
@media (max-width: 991px){
    .navbar input[type='checkbox'],
    .navbar .hamburger-lines{
    display: block;
     }
     .navbar-container input[type='checkbox']{
      position: absolute;
      display: block;  
      height: 32px;
      width: 40px;
      top: 20px;
      left: 35px;
      z-index: 5;
      opacity: 0; 
     }
     .navbar-container .hamburger-lines{
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        left: 35px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
     .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #222222;
     }
     .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: all 0.333s ease-in-out;
     }
     .navbar-container .hamburger-lines .line2{
        transition: all 0.3333s ease-in-out;
     }
     .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: all 0.3232s ease-in-out;
     }
     .navbar ul{
        padding-top: 800px;
        background-color: #fffefe;
        height: 200vh;
        width: 300px;
        transform: translateX(-200%);
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: all 0.4s ease-in-out;
        box-shadow: 5px 0 5px -2px #aaa;
     }
     .navbar ul li{
        margin-bottom: 3rem;
        font-size: 1.2rem;
        font-weight: 550;
     }
     .logo{
        position: absolute;
        right: 90px;
        font-size: 4rem;
        bottom: -2px;
     }
     .navbar-container input[type='checkbox']:checked ~ ul{
        transform: translateX(0);
     }
     .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
     }
     .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
        transform: scale(0)
     }
     .navbar-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
     }
     .about-pic{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .about-pic img{
        margin-left: 10%;
        margin-bottom: 5%;
    }
    .about-area .row{
        display: block;
    }
    .about-text{
        align-items: center;
        margin-left: 34%;
        margin-top: 20px;
    }
    .about-text b{
        position: absolute;
        left: 50%;
    }
    .about-text h2{
        text-align: center;
        max-width: 100%;
        flex: 0 0 100%;
        font-size: 35px;
        padding-top: 40px;
        font-size: 27px;
    }
    .about-text p{
        width: 120%;
    }
    .services-container .row{
        display: block;
        width: 87%;
        margin-right: 20px;
    }
    .services-container-1 .services-container-2 .services-container-3{
        max-width: 100%;
        flex: 0 0 200%;
    }
    .services-thing-1{
        margin-top: 25px; 
    }
    .services-thing-2, .services-thing-3{
        margin-top: 25px;
    }
    .testimonial-area .row{
        display: block;
       max-width: 90%;
       flex: 0 0 70%;
    }
    .testimonial-1{
        margin-bottom: 25px;
        width: 80%;
        margin-left: 15%;
    }
    .testimonial-2, .testimonial-3{
        margin-bottom: 25px;
        width: 80%;
        margin-left: 15%;
    }
    .first-info p{
        font-size: 16px;
        width: 120%;
        margin-top: -10px;
        margin-left: -10%;
    }
    .first-info h4{
        margin-left: -7%;
    }
    .first-info{
        padding-bottom: -100px;
    }
    .second-info, .third-info, .Fourth-info{
        margin-top: 20px;
    }
    .last{
        padding-left: 2%;
    }
}
@media (max-width: 1150px){
    .services-container .row{
        display: block;
        width: 80%;
        margin-right: 20px;
    }
    .services-container-1 .services-container-2 .services-container-3{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .services-thing-1{
        margin-top: 25px; 
    }
    .services-thing-2, .services-thing-3{
        margin-top: 25px;
    }
}
@media (max-width: 1050px){
    .main-text{
        max-width: 35%;
        flex: 0 0 35%;
    }
    .main-pic{
        max-width: 70%;
        flex: 0 0 70%;
        margin-top: 10%;
    }
}
@media (max-width: 950px){
    .main-pic{
        max-width: 100%;
        flex: 0 0 100%;
    }
    .main-text{
        max-width: 50%;
        flex: 0 0 80%;
        margin-left: 20%;
    }
    .main-text h1{
        font-size: 25px;
        margin-bottom: -20px;
    }
    .home-area .row{
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
        flex-direction: column;
    }
    .features-area .row{
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .features-1 h2{
        font-size: 34px;
    }
    .features-1{
        padding-bottom: 50px;
    }
    .marketing-1{
        max-width: 60%;
        margin-left: 22%;
    }

}


@media (max-width: 690px){
    .main-text a{
        font-size: 14px;
        padding: 8px;
        border-radius: 3px;
        margin-right: 20%;
        display: block;
        max-width: 50%;
        margin-top: 10px;
    }
    .main-text{
        margin-left: 7%;
    }
    .main-text h1{
        line-height: 25px;
    }
    .main-text p{
        margin-bottom: -10%;
    }
    .features-1 p{
        font-size: 14.2px;
        padding-bottom: -10%;
    }
    .features-area .marketing-1 p{
        font-size: 15px;
    }
    .features-area{
        padding-bottom: 30px;
    }
    .about-area .about-text{
        width: 100%;
        margin-left: 2%;
        flex-basis: 100%;
    }
    .about-text h2{
        font-size: 22px;
    }
    .about-text{
        margin-top: 30px;
        margin-bottom: -10px;
    }
    .about-text b{
        display: inline-block;
        margin-left: -30%;
    }
    .about-text p{
        padding: 10px;
        width: 230%;
    }
    .about-area a{
        font-size: 17px;
        padding: 10px;
        border-radius: 5px;
    }
    .services-container .row{
        display: block;
        width: 118%;
        margin-left: 7%;
    }
    .services-container-1 .services-container-2 .services-container-3{
        max-width: 100%;
        flex: 0 0 120%;
    }
    .services-thing-1{
        margin-top: 25px; 
    }
    .services-thing-2, .services-thing-3{
        margin-top: 25px;
    }
    .services-area h1{
        font-size: 37px;
    }
}
  @media (max-width: 575px){
    .testimonial-area .testimonial-text{
        font-size: 1px;
    }
    .testimonial-1{
        padding: 5px;

    }
    .testimonial-2{
        padding: 5px;
    }
    .testimonial-3{
        padding: 5px;
    }
    .testimonial-area .testimonial-pic{
        margin-top: 50px;
        margin-left: -14%;
    }
    .testimonial-area .test{
        margin-top: -70px;
        margin-left: 14%;
    }
    .testimonial-1 .testimonial-2 .testimonial-3{
        height: 20vh;
        flex-wrap: wrap;
    }
  }